body {
    background-color: white;
}

/* Large screen devices */
@media only screen and (min-width: 800px) {
    body {
        min-width: 10em;
    }
    div.topnav > p > a + a {
        margin-left: 3em
    }
}

/* Tablets and phones */
@media only screen and (max-width: 799px) {
    body {
        min-width: 10em;
    }
    div.header {
        padding: 0 20px;
    }
    div.header img.rightlogo {
        float: right;
        width: 5em;
    }
    div.header h1.heading {
        float: left;
        font-size: 1.4em;
    }
    div.header h2 {
        float: left;
    }
    div.topnav {
        float: right;
        padding-bottom: 1em;
    }
    div.topnav > p > a + a {
        margin-left: 2em
    }
    div.content {
        clear: both;
    }
}

/*
Special tweaks for phones and other small devices
Should work down to 360x640 css pixels which is quite popular
Remember: CSS pixels != device pixels (often factor 2 larger)
*/
@media only screen and (max-width: 650px) {
    div.header {
        padding: 0 1em;
    }
    div.header img.rightlogo {
        display: none;
    }
    div.header h1.heading {
        font-size: 1.3em;
    }
    div.header h2 {
        font-size: 0.8em;
    }
    div.topnav {
        float: left;
    }
    div.topnav  p {
        margin: 0 0.3em 0 1em;
    }
    div.topnav  p a {
        font-size: 1.4em;
        color: #0c3762;
    }
    div.topnav > p > a + a {
        margin: 0 0 0 1em;
    }
    div.content {
        margin: 15px 10px 40px 10px;
    }
}

/*
Menu tweaks for small screens
*/
@media only screen and (max-width: 500px) {
    div.topnav  p a {
        font-size: 3.3vw;
        color: #0c3762;
    }
}


h3 a:link {
    color: #fb880c;
    font-weight: normal;
    font-size: 1em;
}

div.figure.align-center p {
    color: #666;
    text-align: center;
    max-width: 80%;
    margin: 3pt auto;
}

/* Hack to separate blog posts a bit more than standard section separation */
div#ocellaris-news > div.section + div.section:before {
    content: "";
    display: block;
    margin: 4em auto 4em auto;
    background: repeating-linear-gradient(
      90deg,
      #ffffff,
      #ffffff 3px,
      #892601 3px,
      #892601 57px,
      #ffffff 57px,
      #ffffff 60px
    );
    height: 2px;
    min-width: 60px;
    max-width: 600px;
  }

